<ion-tabs   (ionTabsDidChange)="selectedTabs($event)">
  <ion-tab-bar slot="bottom" class="ion-padding-top ion-padding-bottom">
    <div class="tabs-btn">
      <app-bottombar
        route_tabs="dashboard"
        route_name="Dashboard"
        [inactive_route]="tab_name === 'dashboard' ? dashboard_a : dashboard">
      </app-bottombar>
    </div>

    <div class="tabs-btn">
      <app-bottombar
        route_tabs="polis"
        route_name="Polis"
        [inactive_route]="tab_name === 'polis'  ? policy_a : policy">
      </app-bottombar>
    </div>

    <div class="tabs-btn">
      <div class="ml-3">
      <app-notif-bagde [notification_total]="cart_notification"></app-notif-bagde>
      </div>
      <app-bottombar
        route_tabs="cart"
        route_name="Cart"
        [inactive_route]="tab_name === 'cart'  ? cart_a : cart">
      </app-bottombar>
    </div>

    <div class="tabs-btn">
      <app-bottombar
        route_tabs="claim"
        route_name="Claim"
        [inactive_route]="tab_name === 'claim'  ? claim_a : claim">
      </app-bottombar>
    </div>

    <div class="tabs-btn">
      <app-bottombar
        route_tabs="profile"
        route_name="profile"
        [inactive_route]="tab_name === 'profile'  ? profile_a : profile">
      </app-bottombar>
    </div>

  </ion-tab-bar>
</ion-tabs>
