<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      Dashboard
    </ion-tab-button>
    <ion-tab-button tab="claim">
      <ion-icon name="document"></ion-icon>
      Claim
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart"></ion-icon>

      Cart
    </ion-tab-button>
    <ion-tab-button tab="policy">
      <ion-icon name="mail-unread"></ion-icon>
      Policy
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      Profile
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
