ion-content{
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: url('https://www.asuransiku.id/asuransiku-id-pro/agen.ea1012020b4c07e8.jpg') 0 0/100% 100% no-repeat;
}
