<div class="top-bar-container">
  <div class="search-bar ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
    <div class="d-flex flex-row  mx-3 mt-2 mb-2 text-center align-items-center">
      <ion-icon slot="icon-only" name="search"></ion-icon>
      <div class="mx-2 font-weight-bold ">Temukan Asuransiku</div>
    </div>
  </div>
  <div class="notification-bar ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
    <img src="../../../../assets/core/notif.svg" alt="user_button">
  </div>
</div>

