<div class="top-wrapper">
  <div class="mx-2 search-tap text-center align-items-center ion-activatable ripple-parent">
    <div class="d-flex flex-row p-1 mx-3 mt-2 mb-2">
      <ion-icon slot="icon-only" name="search"></ion-icon>
      <div class="mx-2 font-weight-bold ">Temukan Asuransiku</div>
    </div>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
  <div class="mx-2 top-btn ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
    <img src="../../../../assets/core/notif.svg" alt="user_button">
  </div>
</div>

