.image-container img{
  border-radius: 16px;
  width: auto;
  height: 300px;
  //background-image: url('https://www.asuransiku.id/asuransiku-id-pro/agen.ea1012020b4c07e8.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.bottom-round{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}



.swiper-area {
  left: 10px;
  transform: translateX(-10px -10px);
  padding: 10px;
  width: 100%;
  height: calc(100% - 35%);
}

swiper-container{
  width: 100%;
  height: 100%;
  top: calc(100% - 85%);
}

swiper-slide {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
}

swiper-slide h3 {
  font-weight: bold;
}

swiper-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

