<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>intro</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">intro</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

  <div class="swiper-area">
    <swiper-container>
      <swiper-slide>
        <img src="../../../assets/images/img_polis.png" alt="a.png" >
        <h3>Polis Langsung Jadi</h3>
        <p>Polis pilihanmu akan segera diterbitkan setelah pembayaran</p>
      </swiper-slide>

      <swiper-slide>
        <img src="../../../assets/images/img_premi.png" alt="a.png" >
        <h3>Pilihan Premi Terbaik</h3>
        <p>Kami menawarkan berbagai macam penawaran premi sesuai kebutuhanmu</p>
      </swiper-slide>

      <swiper-slide>
        <img src="../../../assets/images/img_towing.png" alt="a.png" style="width: 80%; margin-top: 62px">
        <h3>Derek Gratis</h3>
        <p>Dapatkan layanan derek gratis untuk asuransi kendaraanmu</p>
      </swiper-slide>

      <swiper-slide>
        <img src="../../../assets/images/img_claim.png" alt="a.png" >
        <h3>Klaim Cepat</h3>
        <p>Klaim yang mudah dan cepat diproses oleh kami</p>
        <div style="margin-top: 15px;">
          <ion-button (click)="start()">Mulai Berasuransi</ion-button>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

</ion-content>
